
*{
  box-sizing: border-box;
  max-width:550px;
  margin: auto;
}

body {
  margin: auto;
  font-family: Inter ,sans-serif;
  
  
}

nav{
  display: flex;
  align-items: center;
  background-color:#21222A ;
  height: 90px;
  padding: 30px 25px;
}
nav > h3, nav > h4 {
  margin: 0;
}

.nav--logo_text{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700px;
  font-size: 22px;
  
}
.nav--title{
  color: #DEEBF8;
  font-weight: 600px;
}
nav > img {
  height: 30px;
  margin-right: 7px;
}

main{
  background-image:url("./images/reactjs-icon-2.png");
  background-repeat: no-repeat;
  background-position-x: 418px;
  background-position-y: 110px;
  background-size: 132px 263px;

  height: 550px;
}

.body--title{
  margin-top: 0px;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.05em;

  
}
.body--heading-div{
  padding: 60px 100px 0px 30px;
}

.body--list-element{
  color:#FFFFFF ;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px ;
  padding-block: 10px;

}
.body--list-element::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}
.body--content{
  margin: 0px 75px;
}
.body--list{
  max-width: 400px;
  padding-left: 0px;
}